<table>
    <thead>
        {% for key,value in data_dict.items %}
        <th>{{key}}</th>
        {% endfor %}
    </thead>
    {% for i in data_rec %}
    <tr>
        {% for key2,value2 in i.items %}
        <td>{{value2}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>













<!-- 
<table>
    <thead>
        <tr>
            {% for key, value in df_dict.items %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    {% for rec in df_rec %}
        <tr>
            {% for i2, k2 in rec.items %}
                <td>{{ k2 }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
  </table> -->